.trip_card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin: 0.5rem 0;
}

.trip_card img {
  height: 100%;
  width: 80px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(81,81,81,0.1) 30%, #ffffff 30%);
  padding: 0 0.5rem 0 0.5rem;
}

.trip_card_photo {
  padding: 0 !important;
  object-fit: cover;
  min-width: 80px;
  max-height: 266.67px;
}

.trip_card_info {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.trip_card_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: $gray;
  max-width: 186px;
}

.trip_card_location {
  font-size: 0.8rem;
  color: $gray;
  opacity: 0.5;
  font-weight: bold;
}


.trip_card_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-top: auto;
  color: $gray;
  i {
    margin-right: 0.5rem;
  }
  
}

@media (min-width: 576px) {
  .trip_card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 400px;
    margin: 0.5rem;
    min-width: 280px;
    max-width: 380px;
  }

  .trip_card img {
    // height: 100%;
    width: 100%;
    border-radius: 16px;
    padding: 0 0.5rem 0 0.5rem;
  }

  .trip_card_info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 133.33px;
    width: 100%;
  }

  .trip_card_photo {
    padding: 0 !important;
    object-fit: cover;
  }

  .card_svg_container {
    height: 266.77px;
  }

  .trip_card_title {
    max-width: 350px;
  }
}