.trip_show_menu_btn {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 3.5rem;
  border: none;
  background-color: transparent;

  p {
    font-weight: bold;
    font-size: 0.8rem;
    color: $gray;
  }
}

.trip_show_menu_btn_icon {
  display: grid;
  place-items: center;
  background-color: $gray;
  opacity: 50%;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;

  i {
    color: white;
  }
}