<div class="trip_list home_container" data-midnight="white">
  <% @trips.each do |trip| %>
    <%= render partial: 'shared/trip/trip_card', locals: {trip: trip} %>
  <% end %>
  <%= link_to new_trip_path, class:"btn btn-primary btn-circle shadow" do %>
    <p>+</p>
  <% end %>
  <br>
</div>