<div class="trip_show_container">
  <div class="trip_list">
    <% @trips.each do |trip| %>
      <%= render partial: 'shared/trip/trip_card', locals: {trip: trip} %>
    <% end %>
    <%#= link_to new_trip_path, class:"btn btn-light btn-circle shadow" do %>
    <%= link_to new_trip_path, class:"btn btn-primary btn-circle shadow" do %>
      <p>+</p>
    <% end %>
    <br>
  </div>
</div>