<%= render layout: '/layouts/trip' do %>
  <%= render layout: '/layouts/transparent_card' do %>
    <div class="d-flex align-items-center mb-3">
      <p><strong>Résultat du vote</strong></p>
      <div class="d-flex ml-auto">
        <% if @trip.user == current_user %>
          <%= button_to trip_back_votes_path(@trip), method: :put, class: "btn btn-outline-primary btn-sm text-center", data: { confirm: "Êtes-vous sûr ?"} do %>
            <i class="fas fa-undo-alt"></i> Votes
          <% end %>
        <% end %>
      </div>
    </div>
    <p>Plusieurs logements sont à égalité</p>
    <% @rooms.each do |room| %>
      <%= render partial: 'shared/room_draw_card', locals: {room: room} %>
    <% end %>
  <% end %>
<% end %>