<div class="background-rounded-white-no-tab p-3  justify-content-center">
  <div class="d-flex align-items-center mb-3">
    <p><strong>Résultat final</strong></p>
    <div class="d-flex ml-auto">
      <% if @trip.user == current_user %>
        <%= button_to trip_back_votes_path(@trip), method: :put, class: "btn btn-outline-primary btn-sm text-center", data: { confirm: "Êtes-vous sûr ?"} do %>
          <i class="fas fa-undo-alt"></i> Votes
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @rooms.count == 1 %>
    <p><small>Voici le logement que vous avez sélectionné !</small></p>
    <%= render partial: 'shared/room_finished_card', locals: {room: @rooms.first} %>
  <% else %>
    <p>Plusieurs logements sont à égalité</p>
    <% @rooms.each do |room| %>
      <%= render partial: 'shared/room_finished_card', locals: {room: room} %>
    <% end %>
  <% end %>
</div>