// Define variables for your color scheme

// For example:
$red: #FB9F89;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #60AB9A;
$gray: #515151;
$light-gray: #FFFFFF;
$special-gray: #515151;
$purple: #6C63FF;