<p>Bonjour,</p>
<p>Vous avez été invité par <%= @sender.first_name %> à rejoindre le groupe <%= @trip.name %> sur Tripster </p>
<p><%= link_to "Accepter l'invitation", @url %></p>
<p>L'équipe de Tripster</p>