<p>Bonjour <%= @user.first_name %>,</p>
<p>Vous avez été invité à rejoindre <%= @trip.name %> par <%= @trip.user.first_name %></p>
<p><%= link_to "Voir le voyage", trip_url(@trip)  %></p>
<p>L'équipe de Tripster</p>