<p>Che.re <%= @user.email %>,</p>

<p>Bienvenue sur Tripster, l'application qui va t'aider à organiser des vacances collectivement.</p>

<p>Tu peux commencer dès maitenant sur <%= link_to "Tripster", root_url  %> !</p>
<p>L'équipe de Tripster</p>