.trip_list {
  top: 60px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 576px) {
  .trip_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    padding-right: 5px;
    padding-left: 5px;
    place-items: center;
  }
}


@media (min-width: 1024px) {
  .trip_list {
    grid-template-columns: repeat(3, 1fr);
  }
}