.trip_background {
  background-size: cover;
  background-position: center;
  height: 77vh;
  position: fixed;
  width: 100%;
  border-radius: 0px 0px 32px 32px;
}

.trip_show_container {
  position: relative;
  top: 51vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
}

.trip_show_card_bg {
  background-color: rgba(255,255,255,0.86);
  padding: 0.5rem;
  border-radius: 1.5rem;
  min-height: 133.33px;
  margin: 0.5rem 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.trip_show_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  place-items: center;
}