// Specific CSS for your home-page
.background-rounded-white-log-options {
  border-radius: 16px 16px 0px 0px; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.home-log-btn {
  max-width: 300px;
  min-width: 270px;
  border-radius: 4px;
}

.home-sm-full-height {
  min-height: calc(100vh - 82px);
  max-width: 100%;
}

.home-full-height {
  min-height: calc(100vh - 46px - 132px);
}

.home_container {
  position: relative;
  top: 60px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_card_bg {
  background-color: rgba(246, 246, 246, 0.9);
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
  height: calc(100vh - 58px - 58px);
  display: grid;
  gap: 2rem;
  width: 100%;
}

.home_card_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0rem 2rem 2rem;
}

.home_card_links {
  display: flex;
  gap: 1rem;
}


// Pour les mobiles
@media (max-width: 576px) {
  .home_bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
  }
  .home_card_right {
    display: none;
  }
}

// Pour les tablettes et desktop
@media (min-width: 576px) {
  .home_card_bg {
    grid-template-columns: 55% 45%;
  }
  .home_card_left {
    .home_title {
      font-size: 2.5rem;
    }
  }

  .home_card_right {
    img {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: auto;
    }
  }
}