.home-log-btn {
  max-width: 300px;
  min-width: 270px;
  border-radius: 4px;
}

.home_container {
  position: relative;
  top: 60px;
  width: 100%;
}

.home_card_bg {
  background-color: rgba(246, 246, 246, 0.9);
  backdrop-filter: blur(8px);
  border-radius: 1.5rem;
}

.home_card_standalone {
  position: absolute;
  height: calc(100vh - 58px - 58px);
  left: 15px;
  right: 15px;
}

.home_card_content {
  height: calc(100vh - 58px - 58px);
  display: flex;
  z-index: 1;
  position: relative;
  place-items: center;
  justify-content: space-evenly;
}

.home_card_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  
}

.home_card_left > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.home_card_links {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.home_card_links > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.home_footer {
  color: white;
  background-color: $gray;
  padding: 1rem;
}


// Pour les mobiles
@media (max-width: 576px) {
  .home_bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: rotate(45deg);
  }
  .home_title {
    font-size: 2rem;
  }

  .home_card_standalone {
    display: none;
  }

  .home_card_links {
    flex-direction: column;
  }
  
  .home_card_links > * {
    margin-bottom: 0.5rem;
  }

  .home_card_content {
    padding: 1rem;
    background-color: rgba(246, 246, 246, 0.9);
    backdrop-filter: blur(8px);
    border-radius: 1.5rem;
    height: auto;
  }
  .home_card_right {
    display: none;
  }
  
}

// Pour les tablettes et desktop
@media (min-width: 576px) {
  .home_card_content {
    width: 100%;
  }
  .home_card_left {
    min-width: 425px;
    max-width: 500px;
    padding: 2rem 0rem 2rem 2rem;
  }

  .home_title {
    font-size: 3.5rem;
  }

  .home_card_right {
    align-self: flex-end;
    img {
      height: 91vh;
      object-fit: cover;
      object-position: left bottom;
    }
  }
}