// Specific CSS for your home-page
.background-rounded-white-log-options {
  border-radius: 16px 16px 0px 0px; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.home-log-btn {
  max-width: 300px;
  min-width: 270px;
  border-radius: 4px;
}

.home-sm-full-height {
  min-height: calc(100vh - 82px);
  max-width: 100%;
}

.home-full-height {
  min-height: calc(100vh - 46px - 132px);
}

.home-sm-title {
  font-size: 3.5rem;
  font-weight: bold;
}