<div class="data_blocs">
  <div id="bloc_1" class="data_bloc">
    <p><%= user_count %>+</p>
    <p>Utilisateurs</p>
  </div>
  <div id="bloc_2" class="data_bloc">
    <p><%= trip_count %>+</p>
    <p>Voyages</p>
  </div>
  <div id="bloc_3" class="data_bloc">
    <p><%= review_count %>+</p>
    <p>Commentaires</p>
  </div>
</div>