<div class="news_card">
    <%= render partial: 'shared/avatar', locals: {user: new.user} %>
    <div class="news_card__info ml-3">
      <p class="news_card__time"><small>Il y a <%= new.time_since_created %></small></p>
      <p class="news_card__content"><%= yield %></p>
    </div>
</div>