<div class="news_card">
    <div class="news_card__info">
      <div class="news_card__text">
        <div class="d-flex justify-content-between">
          <p><small>Votre avis</small></p>
          <p>
            <small>
              <% review.score.to_i.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - review.score.to_i).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </small>
          </p>
        </div>

        <%= review.content %>
      </div>
    </div>
</div>