<div class="background-rounded-white-no-tab p-3  justify-content-center">
  <div class="row justify-content-center align-items-center my-3">
    <div class="col-3">
      <%= image_tag "room_process/house_search.svg", class:"img-fluid" %>
    </div>
    <div class="col-6">
      <h2>1. Cherchez des logements et les ajouter aux propositions</h2>
    </div>
  </div>

  <div class="row justify-content-center align-items-center my-3">
    <div class="col-3">
      <%= image_tag "room_process/house_review.svg", class:"img-fluid" %>
    </div>
    <div class="col-6">
      <h3>2. Notez et commentez les logements afin d'identifier les maisons préférées du groupe</h3>
    </div>
  </div>

  <div class="row justify-content-center align-items-center my-3">
    <div class="col-3">
      <%= image_tag "room_process/house_vote.svg", class:"img-fluid" %>
    </div>
    <div class="col-6">
      <h4>3. Donnez votre ordre de préférence parmi les logements présélectionnés </h4>
    </div>
  </div>

  <div class="row justify-content-center align-items-center my-3">
    <div class="col-3">
      <%= image_tag "room_process/house_booking.svg", class:"img-fluid" %>
    </div>
    <div class="col-6">
      <p>4. Réservez le logement choisi par le groupe </p>
    </div>
  </div>
</div>