<div class="container text-center my-5">
  <h1>Validation de votre adresse e-mail</h1>
  <p class="mt-5">Cherchez l'e-mail de validation dans votre boîte de réception et cliquez sur le lien qu'il contient.</p>
</div>
