<%= link_to trip_path(trip) do  %>
  <div class="trip_card" data-midnight="white">
    <% if !trip.photo_url.nil? && trip.photo_url != "" %>
      <%= image_tag trip.photo_url, class:"trip_card_photo" %>
    <% else %>
      <div class="card_svg_container">
        <%= image_tag "undraw_around.svg" %>
      </div>
    <% end %>
    <div class="trip_card_right">
      <div class="trip_card_info">
        <%= render partial: 'shared/trip/trip_card_info', locals: {trip: trip} %>
      </div>
    </div>
  </div>
<% end %>
