.button-custom {
  font-size: 0.7rem;
  border-radius: 16px;
  min-width: 3.5rem;
  padding: 0.2rem 0rem;
}

.button-tab {
  color: white;
  opacity: 0.5;
}

li > .active {
  color: white;
  opacity: 1;
}

.btn:focus, .btn:hover {
  color: white;
  opacity: 1;
}
