.button-custom {
  font-size: 0.7rem;
  border-radius: 16px;
  min-width: 3.5rem;
  padding: 0.2rem 0rem;
}

.button-tab {
  color: white;
  opacity: 0.5;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 0.3rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 2.3rem;
}

li > .active {
  color: white;
  opacity: 1;
}

.btn:focus, .btn:hover {
  color: white;
  opacity: 1;
}
