.background-rounded-white {
  border-radius: 16px 16px 0px 0px; 
  background-color: white; 
  min-height: calc(100vh - 64px - 42.8px);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
}

.home_card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 500px;
  margin: 0 auto 0.5rem auto;
  padding: 0.5rem 1rem;

  border: 0.5px solid #515151;
  border-radius: 8px;
  
  & img {
    max-width: 3rem;
    margin: 0 1rem 0 0.5rem;
    display: none;
  }

  & .home_card__info {
    flex: 1;

    & .home_card__category {
      font-size: 0.8rem;
    }

    & .home_card__status {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
  
}

.width-fit-content {
  width: fit-content;
  min-width: 10rem;
}

.news_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 0.5rem 0;

  border-bottom: 0.25px solid #515151;
  
  & img {
    max-width: 2rem;
    margin: 0 1rem 0 0;
    // display: none;
  }

  & .news_card__info {
    flex: 1;
    margin-right: 0.5rem;

    & .news_card__time {
      font-size: 0.8rem;
    }

    & .news_card__content {
      font-size: 0.8rem;
    }

    & .news_card__text {
      background-color: #515151;
      color: white;
      border-radius: 8px;
      padding: 0.5rem;
      margin: 0.5rem 0;
      font-size: 0.8rem;
    }
  }
}
.news_card:last-child {
  border: none;
}

.slidemeup {
  position:absolute;
  bottom:-100vh;
  width:100%;
  left:0;
  -webkit-animation-name: slideup;
  animation-name: slideup;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

@keyframes slideup {
  0%{bottom:-100vh}
  100%{bottom:0;}
}