.home_card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  
  margin: 0.5rem;
  padding: 0.5rem 1rem;

  border: 0.5px solid #515151;
  border-radius: 8px;
  
  & img {
    max-width: 3rem;
    margin: 0 1rem 0 0.5rem;
    display: none;
  }

  & .home_card__info {
    flex: 1;

    & .home_card__category {
      font-size: 0.8rem;
    }

    & .home_card__status {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
  
}