.background-rounded-white {
  border-radius: 8px 8px 0px 0px; 
  background-color: white; 
  min-height: calc(100vh - 64px - 38px);
}

.home_card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 500px;
  margin: 0 auto 0.5rem auto;
  padding: 0.5rem 1rem;

  border: 0.5px solid #515151;
  border-radius: 8px;
  
  & img {
    max-width: 3rem;
    margin: 0 1rem 0 0.5rem;
    display: none;
  }

  & .home_card__info {
    flex: 1;

    & .home_card__category {
      font-size: 0.8rem;
    }

    & .home_card__status {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
  
}

.news_card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 0.5rem 0.5rem;

  border-bottom: 0.5px solid #515151;
  
  & img {
    max-width: 2rem;
    margin: 0 1rem 0 0;
    // display: none;
  }

  & .news_card__info {
    flex: 1;
    margin-right: 0.5rem;

    & .news_card__time {
      font-size: 0.8rem;
    }

    & .news_card__content {
      font-size: 0.8rem;
    }
  }
}