.navbar-gray {
  background: #515151 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand p {
  font-family: Ranchers;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
