.navbar-gray {
  background: #515151 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand p {
  font-family: Ranchers;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#back-btn {
  height: 32px;
    width: 32px;
    background-color: white;
    color: #515151;
    text-align: center;
    display: flex;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.midnightHeader.default {
  background: none;
}

.midnightHeader.white {
  background: rgba(255, 255, 255, 0.86);
}